################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Workout Manager/.vs/winformsTEST/v16/Browse.VC.opendb
